<Repositories>
   <styles>
      <style operation="searchRetrieve">../../xsl/fcs/result2view_v1.xsl</style>
      <style operation="scan">../../xsl/fcs/scan2view_v1.xsl</style>
      <style operation="scan-json">../../xsl/fcs/scan2json.xsl</style>
      <style operation="explain">../../xsl/fcs/explain2view_v1.xsl</style>
      <style operation="explain-json">../../xsl/fcs/explain2json.xsl</style>
      <style operation="default">../../xsl/misc/xml2view_v1.xsl</style>
   </styles>
   <item>
      <name>vicav_profiles_001</name>
      <label>Profiles</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_sampletexts</name>
      <label>Sample Texts</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_meta</name>
      <label>Meta Texts</label>
      <id>7</id>
      <type>fcs</type>
      <style>../../xsl/profile.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_tools_001</name>
      <label>Tools Texts</label>
      <id>13</id>
      <type>fcs</type>
      <style>../../xsl/tei_2_html__v003.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/ProfileOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_lingfeatures_001</name>
      <label>Linguistic Feature Texts</label>
      <id>14</id>
      <type>fcs</type>
      <style>../../xsl/ling_features.xsl</style>
      <style operation="explain">../../xsl/profile-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/SampleTextOnSRU.php</uri>
   </item>
   <item>
      <name>vicav_bibl_002</name>
      <label>Bibliography</label>
      <id>8</id>
      <type>fcs</type>
      <style>../../xsl/bibliography.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/BibliographyOnSRU.php</uri>
   </item>
   <item>
      <name>arz_eng_006</name>
      <label>Dictionary Cairo Variety</label>
      <id>1</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
<!--      <uri>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>-->
   </item>
   <item>
      <name>aeb_eng_001__v001</name>
      <label>Dictionary Tunis Variety</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="searchRetrieve-csv">../../xsl/csv-table-export.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>aeb_eng_001__v001F</name>
      <label>Language Course - Dictionary Tunis Variety</label>
      <id>92</id>
      <type>fcs</type>
      <style>../../xsl/glossary-audio.xsl</style>
      <style operation="searchRetrieve-csv">../../xsl/csv-table-export.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
<!--      <uri>http://127.0.0.1/corpus_shell/modules/mysqlonsru/FilteredGlossaryOnSRU.php</uri> -->
	  <uri>https://minerva.arz.oeaw.ac.at/vicavmobile/corpus_shell//modules/mysqlonsru/FilteredGlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>apc_eng_002</name>
      <label>Dictionary Damascus Variety</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
<!--      <uri>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>-->
   </item>
   <item>
      <name>ar_de__v001</name>
      <label>Dictionary Standard Arabic</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
        <name>tunico_conc</name>
        <label>Tunico Concordance</label>
        <id>93</id>
        <type>ske</type>
        <style>../../xsl/texts-tunis.xsl</style>
        <style operation="explain">../../xsl/texts-tunis-explain.xsl</style>
        <uri>https://fcs:fcs@tunico-noske.eos.arz.oeaw.ac.at/run.cgi/fcs</uri>
<!--        <uri>http://corpus4.aac.ac.at/bonitoD/run.cgi/fcs</uri>-->
   </item>
   <item>
      <name>tunico</name>
      <label>Tunico Texts</label>
      <type>fcs</type>
      <style>../../xsl/texts-tunis.xsl</style>
      <uri>http://tunico-dev.eos.arz.oeaw.ac.at/exist/apps/cr-xq-mets/tunico/fcs</uri>
   </item>
   <item>
      <name>pes_eng_032</name>
      <label>Persian english dictionary</label>
      <id>1</id>
      <type>fcs</type>
<!--      <style>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php?x-context=pes_eng_032&amp;operation=searchRetrieve&amp;query=rfpid=10</style> -->
<!--      <uri>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>-->
      <uri>http://localhost/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>zul_eng_016</name>
      <label>isiZulu-English glossary</label>
      <id>1</id>
      <type>fcs</type>
      <style>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php?x-context=zul_eng_016&amp;operation=searchRetrieve&amp;query=rfpid=10</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>https://minerva.arz.oeaw.ac.at/vicav2/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
</Repositories>
